/* ELEMENTS MANIPULATION */
.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

/* TEXT MANIPULATION */
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

/* COLORS */
.green {
    color: #91be3f;
}
